.footer {
	background-color: hsl(168, 34%, 41%);
}
.footer .wrapper {
	display: grid;
	min-height: 300px;
	justify-items: center;
	align-content: space-around;
}
.footer .wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer .wrapper .footer_links {
	display: grid;
	grid-gap: 30px;
	justify-content: center;
	color: hsl(167, 40%, 24%);
}
.footer .wrapper .footer_links div {
	display: grid;
	align-items: center;
	justify-content: center;
}

.footer .wrapper .footer_links ul {
	display: flex;
	gap: 100px;
}
.wrapper .footer_icons ul {
	display: flex;
	gap: 50px;
}

@media (max-width: 699px) {
	.footer .wrapper .footer_links ul {
		gap: 50px;
	}
	.wrapper .footer_icons ul {
		gap: 20px;
	}
}
