ul.main_nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	font-size: 16px;
}
ul.main_nav > * {
	flex: 1 1 50px;
}
.main_nav li {
	display: flex;
}
ul.main_nav li a {
	text-decoration: none;
	color: white;
	width: 80px;
	display: flex;
	padding: 10px 20px;
	align-items: center;
	border-radius: 20px;
	justify-content: center;
	transition: all 400ms ease-in-out;
}
ul.main_nav li a:hover {
	background-color: white;
	color: hsl(212, 27%, 19%);
	font-family: Fraunces;
}

@media (max-width: 699px) {
	ul.main_nav {
		display: none;
	}
}
